<#+
    private static string GetOrdinal(int n) => n < 1 ? $"{n}" : $@"{n}{(n % 100) switch 
    { 
        11 => "th", 
        12 => "th", 
        13 => "th", 
        _ => (n % 10) switch
        { 
            1 => "st",
            2 => "nd",
            3 => "rd",
            _ => "th"
        }
    }}";
#>